{% if npm_registry %}
registry={{ npm_registry }}
{% endif %}
{% if sass_binary_site %}
SASS_BINARY_SITE={{ sass_binary_site }}
{% endif %}
{% if electron_mirror %}
ELECTRON_MIRROR={{ electron_mirror }}
{% endif %}
